/* Navbar Theme Design */
/* line 9, ../sass/navbar.scss */
.navbar-default {
  background-color: #222;
  border-color: #222;
  border-radius: 0;
}
/* line 13, ../sass/navbar.scss */
.navbar-default .navbar-brand {
  color: #f2f2f2;
}
/* line 15, ../sass/navbar.scss */
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #b2b2b2;
}
/* line 17, ../sass/navbar.scss */
.navbar-default .navbar-text {
  color: #f2f2f2;
}
/* line 21, ../sass/navbar.scss */
.navbar-default .navbar-nav > li > a {
  color: #f2f2f2;
  padding-right: 60px;
}
/* line 24, ../sass/navbar.scss */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #b2b2b2;
}
/* line 27, ../sass/navbar.scss */
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #222;
}
/* line 29, ../sass/navbar.scss */
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #f2f2f2;
}
/* line 31, ../sass/navbar.scss */
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover, .navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #b2b2b2;
  background-color: #222;
}
/* line 34, ../sass/navbar.scss */
.navbar-default .navbar-nav > li > .dropdown-menu .divider {
  background-color: #222;
}
/* line 38, ../sass/navbar.scss */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #b2b2b2;
  background-color: #222;
}
/* line 42, ../sass/navbar.scss */
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #b2b2b2;
  background-color: #222;
}
/* line 45, ../sass/navbar.scss */
.navbar-default .navbar-toggle {
  border-color: #222;
}
/* line 47, ../sass/navbar.scss */
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #222;
}
/* line 49, ../sass/navbar.scss */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f2f2f2;
}
/* line 51, ../sass/navbar.scss */
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f2f2f2;
}
/* line 54, ../sass/navbar.scss */
.navbar-default .navbar-link {
  color: #f2f2f2;
}
/* line 56, ../sass/navbar.scss */
.navbar-default .navbar-link:hover {
  color: #b2b2b2;
}

@media (max-width: 767px) {
  /* line 60, ../sass/navbar.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f2f2f2;
  }
  /* line 62, ../sass/navbar.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #b2b2b2;
  }
  /* line 65, ../sass/navbar.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #b2b2b2;
    background-color: #222;
  }
}
@media (min-width: 768px) {
  /* line 70, ../sass/navbar.scss */
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  /* line 76, ../sass/navbar.scss */
  .navbar .navbar-collapse {
    text-align: center;
  }
}
