/* Navbar Theme Design */
/* line 9, ../sass/navbar.scss */
#navbar {
  margin-top: 15px;
}

/* line 12, ../sass/navbar.scss */
.navbar-default {
  background-color: rgba(128, 0, 51, 0.9);
  border: none;
}
/* line 15, ../sass/navbar.scss */
.navbar-default .navbar-brand {
  color: white;
}
/* line 17, ../sass/navbar.scss */
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ddd;
}
/* line 19, ../sass/navbar.scss */
.navbar-default .navbar-text {
  color: white;
}
/* line 23, ../sass/navbar.scss */
.navbar-default .navbar-nav > li > a {
  color: white;
}
/* line 25, ../sass/navbar.scss */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ddd;
}
/* line 28, ../sass/navbar.scss */
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: rgba(128, 0, 51, 0.9);
}
/* line 30, ../sass/navbar.scss */
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: white;
}
/* line 32, ../sass/navbar.scss */
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover, .navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ddd;
  background-color: #222;
}
/* line 35, ../sass/navbar.scss */
.navbar-default .navbar-nav > li > .dropdown-menu .divider {
  background-color: #222;
}
/* line 39, ../sass/navbar.scss */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ddd;
  background-color: #222;
}
/* line 43, ../sass/navbar.scss */
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ddd;
  background-color: #222;
}
/* line 46, ../sass/navbar.scss */
.navbar-default .navbar-toggle {
  border: None;
  border-color: None;
}
/* line 49, ../sass/navbar.scss */
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: rgba(128, 0, 51, 0.9);
}
/* line 51, ../sass/navbar.scss */
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
/* line 53, ../sass/navbar.scss */
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: white;
}
/* line 56, ../sass/navbar.scss */
.navbar-default .navbar-link {
  color: white;
}
/* line 58, ../sass/navbar.scss */
.navbar-default .navbar-link:hover {
  color: #ddd;
}

@media (max-width: 767px) {
  /* line 62, ../sass/navbar.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: white;
  }
  /* line 64, ../sass/navbar.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ddd;
  }
  /* line 67, ../sass/navbar.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ddd;
    background-color: #222;
  }

  /* line 70, ../sass/navbar.scss */
  .navbar-toggle {
    margin-top: 25px;
    margin-right: 5px !important;
  }

  /* line 74, ../sass/navbar.scss */
  #navbar {
    margin-top: 0px !important;
    border: none;
  }
}
@media (min-width: 768px) {
  /* line 80, ../sass/navbar.scss */
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  /* line 86, ../sass/navbar.scss */
  .navbar .navbar-collapse {
    text-align: center;
  }
}
@media (max-width: 992px) {
  /* line 92, ../sass/navbar.scss */
  .navbar-header {
    float: none;
  }

  /* line 95, ../sass/navbar.scss */
  .navbar-left,
  .navbar-right {
    float: none !important;
  }

  /* line 99, ../sass/navbar.scss */
  .navbar-toggle {
    display: block;
  }

  /* line 102, ../sass/navbar.scss */
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }

  /* line 106, ../sass/navbar.scss */
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }

  /* line 110, ../sass/navbar.scss */
  .navbar-collapse.collapse {
    display: none !important;
  }

  /* line 113, ../sass/navbar.scss */
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }

  /* line 117, ../sass/navbar.scss */
  .navbar-nav > li {
    float: none;
  }

  /* line 120, ../sass/navbar.scss */
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /* line 124, ../sass/navbar.scss */
  .collapse.in {
    display: block !important;
  }

  /* line 127, ../sass/navbar.scss */
  .navbar-toggle {
    margin-top: 25px;
    margin-right: 5px;
  }

  /* line 131, ../sass/navbar.scss */
  #navbar {
    margin-top: 0px !important;
    border: none;
  }
}
