/*********** Deafult Theme ***************/
@import "_color.scss";

$font-stack: 'Source Sans Pro', sans-serif;

/************* FONTS *************/
h1,h2,h3,h4,h5,p,li,a,ul{font-family: $font-stack !important;}
h1{
     font-weight:600;
     font-size:1.8em;
}
h2{
        font-weight: 400;
        font-size:1.7em;
}
h3,h4,p,ul,li,a{font-weight: 300;}
h5{font-weight:600;}
h3{font-size:1.4em;}
h4{font-size:1.2em;}
ul,li,a,p{font-size:1em;}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color:black;
}
.big-letter
{
  font-size:2em;
  font-weight:600;
}
/** Make divs clickable on ios */
.clickable {
    cursor: pointer;
}
/*********************************/

/************* COLORS *************/
body
{
	background-color:rgb(0,36,36);
}
/*********************************/

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: $footer-color;
  text-align:center;
  }
  #footer-text{
  font-size:0.8em;
  padding:1.2em;
  color:white;
  }