#myCarousel{
margin-top:-20px;
}

#service-1,#service-2,#service-3,#service-4
{
	height:200px;
}
.round-flag
{
	background-color:white;
	height:200px;
	border-bottom-left-radius: 4em;
	border-bottom-right-radius: 4em;
}
#round-flag-1
{
	border-top:5px solid red;
}
#round-flag-2
{
	border-top:5px solid blue;
}

#round-flag-3
{
	border-top:5px solid orange;
}

#round-flag-4
{
	border-top:5px solid green;
}

