@import "compass/css3";
@import "_color.scss";

.logo
{
  background:$teal;
  margin-left:50px !important;
  padding:55px 20px 55px 50px;
  position:absolute;
  &:hover{
  background: $teal !important;
  color:white !important;
  }
  transition: all 0.5s ease;
}

.logo-regular
{
  background:$teal;
  margin-left:50px !important;
  padding:55px 20px 55px 50px;
  position:absolute;
  &:hover{
  background: $teal !important;
  color:white !important;
  }
  position:relative;
  padding:0px 20px 0px 50px;
  height:80px;
  margin-left:-15px !important;
  transition: all 0.5s ease;
}

.logo-regular div{
  margin-left:35px;
  margin-top:25px !important;
  transition: all 0.5s ease;
}

.foot-img-regular{
 position:absolute;
  width:70px;
  margin-top:-25px;
  margin-left:-60px;
  transition: all 0.5s ease;
}

.logo div{
margin-top:-5px;
margin-left:35px;
transition: all 0.5s ease;
}

.foot-img{
width:90px;
margin-top:-46px;
margin-left:-65px; 
position:absolute;
transition: all 0.5s ease;
}

@media (max-width: 992px) {
.logo{
  position:relative;
  padding:0px 20px 0px 50px;
  height:80px;
  margin-left:-15px !important;
  transition: all 0.5s ease;
}
.logo div{
  margin-top:25px !important;
  transition: all 0.5s ease;
}
.foot-img{
  width:70px;
  margin-top:-25px !important;
  transition: all 0.5s ease;
}
#myCarousel
{
  margin-top:80px;
}
}


.logo div
{
  margin-top:-10px;
}
#home-4-box{
}
.home-box{
transition: background-color 0.5s ease;
padding:25px;
background-color:#191919;
border-bottom:1px solid #323232;
border-right:1px solid #323232;
&:hover {
        background-color:#c2c2c2;

    }
    &:hover h3 {
        color:#222;;

    }
}

.carousel-indicators li {
  background-color: #999;
  background-color: rgba(0,0,0,.25);
  border:none;
}

.carousel-indicators .active {
  background-color: rgb(0,0,36);
}
.centered-message{
	text-align:center;
	color:white;
	padding:0.2em;
}

#carousel-message{
	padding:15px;
  font-weight:400;
}

.carousel-caption
{
	text-align:center;
	line-height: 55px;
  left:1.5%;
}
.carousel .item {
    overflow:hidden;
}
.carousel-inner > .item > img {
    height: none;
    margin:0 auto;
    width:  100%;
}

.carousel-inner > .item > img:hover {
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

#map {
    width: 100%;
    height: 400px;
}


#intro{
background:$teal; 
padding:20px 75px 50px 75px;
color:#e2e2e2;
line-height:50px;
}

